{% extends 'base.html' %}
{% block title%} Home {% endblock title%}



{% block body%}
      <div class="container">
        
        

      </div> 
      <div class="container my-3">
        <h1 style="text-align:center;padding:20px">Meal Counts</h1>
        
              {% if allTodo|length==0 %}
              <div class="alert alert-danger" role="alert">
                No Records Found. Add Meal Counts
              </div>
                 {% else %}
                 <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Sno</th>
                      <th scope="col">Room no</th>
                      <th scope="col">Lunch</th>
                      <th scope="col">Dinner</th>
                      <th scope="col">Time</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
              
              {% for todo in allTodo %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.desc2}}</td>
                <td>{{todo.date_created}}</td>
                <td>
                  <a href="/delete/{{todo.sno}}" type="button" class="btn btn-outline-primary btn-sm mx-2" name="delete">Delete</button>
                  <a href="/update/{{todo.sno}}" type="button" class="btn btn-outline-primary btn-sm mx-2">Update</button>
                  <a href="/list/{{todo.sno}}" type="button" class="btn btn-outline-primary btn-sm mx-2">See List</button>

                  </td>
              </tr>

              {% endfor %}
              {% endif %}
              
            </tbody>
          </table>
      </div>

      



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script>
      const alertPlaceholder = document.getElementById('liveAlertPlaceholder')

const alert = (message, type) => {
  const wrapper = document.createElement('div')
  wrapper.innerHTML = [
    `<div class="alert alert-${type} alert-dismissible" role="alert">`,
    `   <div>${message}</div>`,
    '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
    '</div>'
  ].join('')

  alertPlaceholder.append(wrapper)
}

const alertTrigger = document.getElementById('liveAlertBtn')
if (alertTrigger) {
  alertTrigger.addEventListener('click', () => {
    alert('Thanks for Confirming', 'Meal Count added Successfully')
  })



}


    </script>
{% endblock body %}