{% extends 'base.html' %}
{% block title%} Login {% endblock title%}

{% block body%}
<div class="container">
    <form action="/" method = "POST">
        <div class="my-3">
          <label for="exampleInputEmail1" class="form-label">Room No</label>
          <input type="text" class="form-control" id="exampleInputEmail1" name="room" aria-describedby="emailHelp" placeholder="Enter Room no">
          
        </div>
        
        
        <div class="form-group">
          <label for="desc">Meal Count(Lunch)</label>
          <input type="text" class="form-control" name="desc" id="exampleInputPassword1" placeholder="Enter Lunch Count">
          </div>
          <div class="form-group">
            <label for="desc">Border's Name for Lunch</label>
            <input type="text" class="form-control" name="lunch" id="exampleInputPassword1" placeholder="Enter Border's Name for Lunch">
          </div>
          <div class="form-group">
            <label for="desc">Meal Count(Dinner)</label>
            <input type="text" class="form-control" name="desc2" id="exampleInputPassword1" placeholder="Enter Dinner count">
            </div>
            <div class="form-group">
              <label for="desc">Border's Name for Dinner</label>
              <input type="text" class="form-control" name="dinner" id="exampleInputPassword1" placeholder="Enter Border's name for Dinner">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <div class="my-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Enter Password">
            </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

{% endblock body %}